    
body {
    background-image: url("/sale_generator_web/static/src/images/back_ground.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

[class*="col"] {
     margin-bottom: 20px; 
}
      img { width: 100%;
}

      .well {
        background-color:#CCC;
        padding: 20px;
}

 .inline-form input {
            display: inline-block;
            width: 100px;
}

.phone {
    position: relative;
    max-width: 263px;
    margin: 0 auto;
    padding: 65px 15px 55px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}
 
.md-macbook-pro {
  display: block;
  width: 55.3125em;
  height: 31.875em;
  font-size: 13px;
  margin: 0 auto;

}





































